<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ekta</title>
    <link rel="stylesheet" href="../assets/css/map.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div id="background-container">
        <video id="background-video" autoplay loop muted>
            <source src="../bgdarker.mp4" type="video/mp4">
        </video>
    </div>
    <div class="header-container">
        <p class="header">EKTA</p>
        <p class="tagline">A digital Odessey of India's diverse heritage and culture</p>
    </div>
    <br>
    <br>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/india2019High.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <div id="chartdiv"></div>
    <script src="../assets/js/map.js"></script>
</body>
</html>
