<html>
<head>
  <link rel="stylesheet" href="/map.css">
</head>
<body>
  <div id="chartdiv"></div>
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/maps.js"></script>
  <script src="https://www.amcharts.com/lib/4/geodata/india2019High.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="/map.js"></script>
</body>
</html>


